.b-hidden
    display none

.sindel
    position relative
    display inline-block
    height 28px
    line-height 28px
    font-size 13px
    font-family Arial, sans-serif
    padding 0

    & *
        margin 0
        padding 0
        
    &:focus
        outline none

    &_pressed &__box
        background #f6f5f3

    &_active &__box
        position relative
        border 1px solid #b8b8b8
        
    &_hover &__box
        border 1px solid #b8b8b8
        
    &_focus &__box
        border 1px solid #fc0

    &__box
        position relative
        display block
        text-decoration none
        outline none
        color #000
        border 1px solid #e0e0e0
        border-radius 15px
        height 100%
        box-sizing border-box

    &__current-text
        display block
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
        margin 0 28px 0 13px
        white-space nowrap
        cursor pointer

    &_active &__arrow
        transform rotate(-180deg)

    &__arrow
        background-repeat no-repeat
        background-position center center
        width 29px
        height 100%
        position absolute
        top 0
        right 0
        transition transform .1s ease-out
        background-image unquote('url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2211%22 height%3D%226%22%3E%3Cpath d%3D%22M10.3 0L5.5 4.7.7 0 0 .7 5.5 6 11 .7z%22%2F%3E%3C%2Fsvg%3E");')

    &_active &__drop
        z-index 1000

    &_active &__drop
        animation .1s ease-out sindel-visible forwards
        left 0
        transition none

    &__drop
        position absolute
        border 1px solid #e0e0e0
        border-radius 2px
        margin-top 5px
        animation .1s ease-out sindel-hidden forwards
        left -9999px
        transition left 0s .1s
        opacity 0

    &__drop-inner
        background #fff

    &__drop ul
        list-style none
        position relative

    &_active &__search
        display block

    &__search
        margin 6px
        height 24px
        padding 0 3px
        border 1px solid #e0e0e0
        outline none
        font-size 13px
        font-family Arial, sans-serif
        border-radius 2px

    &__list_overflow
        overflow-y auto
        max-height 192px

    &__list
        background #fff

    &__item
        padding 0 30px
        line-height 24px
        white-space nowrap
        cursor pointer
        
    &__item_selected
        background unquote('url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2215%22 height%3D%2216%22%3E%3Cpath d%3D%22M13.5.5l-8 12L1.7 8l-1 1.6L5.6 15l9.1-13.4z%22%2F%3E%3C%2Fsvg%3E")') 10px 50% no-repeat
  
        
    &__item_active,
    &__item_hover
        background-color #a7d3ff

@keyframes sindel-hidden {
    0% {
        transform translateY(0)
        opacity 1
    }

    99% {
        transform translateY(10px)
    }

    100% {
        opacity 0
    }
}

@keyframes sindel-visible {
    0% {
        opacity 0
        transform translateY(10px)
    }

    100% {
        opacity 1
        transform translateY(0)
    }
}